:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color:#213547;
  --background-color:#ffffff;
  --link-color:#646cff;
  --link-hover-color: #747bff;
  --button-text-color:#213357;
  --button-background-color:#f9f9f9;
  --completed-text-color:gray;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.dark { /* This class will be toggled by JavaScript on the <html> element */
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  --link-color: #646cff; /* Original dark link color */
  --link-hover-color: #535bf2; /* Original dark link hover */
  --button-bg-color: #1a1a1a;
  --button-text-color: rgba(255, 255, 255, 0.87);
  --completed-text-color: lightgray; /* Adjusted for dark theme */

  color-scheme: dark;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color:var(--link-hover-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.completed{
  text-decoration : line-through;
}
ul{
  list-style :none;
  padding:0;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  cursor:pointer;
  transition:border-color 0.25s,background-color 0.25s,color 0.25s;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


#app {
  min-height:100vh;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  position:relative;
  display:flex;
  flex-direction:column;
  align-items:center;
  box-sizing:border-box;
  
}
.particles-background{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

